
@{
    ViewData["Title"] = "TrackingAlerts";
}

<h2 class="page-title">Seguimiento y alertas</h2>

<div class="row tracking-content">
    <h5 class="tracking-title">Envio</h5>
    <div class="col-md-12">
        <ul class="tracking-section-content">
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Producto</p></div>
                    <div class="col-md-12"><p>Ordenador</p></div>
                    <div class="col-md-12"><p>Televisio</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Envio</p></div>
                    <div class="col-md-12"><p>22/02/2019</p></div>
                    <div class="col-md-12"><p>15/03/2019</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Llegada</p></div>
                    <div class="col-md-12"><p>18/02/2019</p></div>
                    <div class="col-md-12"><p>28/03/2019</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Detalles</p></div>
                    <div class="col-md-12"><p>Mañana. 10-14h</p></div>
                    <div class="col-md-12"><p>Tarde. 15-18h</p></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <h5 class="tracking-title">Garantia</h5>
    <div class="col-md-12">
        <ul class="tracking-section-content">
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Producto</p></div>
                    <div class="col-md-12"><p>Roomba</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Fecha de compra</p></div>
                    <div class="col-md-12"><p>02/08/2018</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Expira</p></div>
                    <div class="col-md-12"><p>02/08/2018</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Detalles</p></div>
                    <div class="col-md-12"><p>Garantia de 1 año</p></div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <h5 class="tracking-title">Subscripcion</h5>
    <div class="col-md-12">
        <ul class="tracking-section-content">
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Servicio</p></div>
                    <div class="col-md-12"><p>Amazon Premium</p></div>
                    <div class="col-md-12"><p>Medium</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Fecha de compra</p></div>
                    <div class="col-md-12"><p>17/05/2018</p></div>
                    <div class="col-md-12"><p>28/03/2018</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Renovacion / Expiracion</p></div>
                    <div class="col-md-12"><p>17/06/2018</p></div>
                    <div class="col-md-12"><p>28/06/2018</p></div>
                </div>
            </li>
            <li>
                <div class="row">
                    <div class="col-md-12"><p>Detalles</p></div>
                    <div class="col-md-12"><p>1 mes de periodo de prueba</p></div>
                    <div class="col-md-12"><p>Subscripcion trimestral</p></div>
                </div>
            </li>
        </ul>
    </div>
</div>