
@{
    ViewData["Title"] = "TrackingAlerts";
}

<h2 class="page-title">Seguimiento y alertas</h2>

<div class="row" style="margin-left: 24px">
    <div class="row tracking-content" style="margin-top: 40px">
        <h5 class="tracking-title">Envio</h5>
        <div class="col-md-12">
            <ul class="tracking-section-content">
                <li><p><span class="dot dot-value-4"></span>Cuatro días para la entrega del ordenador DELL XPS 15</p></li>
                <li><p><span class="dot dot-value-2"></span>Diecisiete días para la entrega del televisor Samsung 47''</p></li>
            </ul>
        </div>
    </div>

    <div class="row tracking-content">
        <h5 class="tracking-title">Garantia</h5>
        <div class="col-md-12">
            <ul class="tracking-section-content">
                <li><p><span class="dot dot-value-3"></span>Dos meses para la finalización de la garantía de Roomba modelo 539</p></li>
            </ul>
        </div>
    </div>

    <div class="row tracking-content">
        <h5 class="tracking-title">Subscripcion</h5>
        <div class="col-md-12">
            <ul class="tracking-section-content">
                <li><p><span class="dot dot-value-2"></span>Uno mes para la renovación de Amazon Premium</p></li>
                <li><p><span class="dot dot-value-1"></span>Dos meses y 5 días para la renovación de Medium</p></li>
            </ul>
        </div>
    </div>

    <p style="margin-top: 24px;"><a href="#">Ver más</a></p>
</div>