@{
    ViewData["Title"] = "About";
}

<h2>Nosotros</h2>

<div class="row">
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/daniel.png" />
        <p class="about-name">Daniel Minguez Camacho</p>
        <p class="about-description">Fucking leader</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/javier.png" />
        <p class="about-name">Javier de la Rua Martinez</p>
        <p class="about-description">Fucking tech boss</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/ruben.png" />
        <p class="about-name">Ruben Cano</p>
        <p class="about-description"></p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/yaiza.png" />
        <p class="about-name">Daniel Minguez Camacho</p>
        <p class="about-description">Fucking leader</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/hector.png" />
        <p class="about-name">Daniel Minguez Camacho</p>
        <p class="about-description">Fucking leader</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/iker.png" />
        <p class="about-name">Daniel Minguez Camacho</p>
        <p class="about-description">Fucking leader</p>
    </div>
</div>
