@{
    ViewData["Title"] = "About";
}

<h2>Nosotros</h2>

<div class="row">
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/daniel.png" />
        <p class="about-name">Daniel Minguez Camacho</p>
        <p class="about-description">Text recognition</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/javier.png" />
        <p class="about-name">Javier de la Rua Martinez</p>
        <p class="about-description">Platform development</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/ruben.png" />
        <p class="about-name">Ruben Cano</p>
        <p class="about-description">Business Model</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/yaiza.png" />
        <p class="about-name">Yaiza Alzola Domínguez</p>
        <p class="about-description">Branding</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/hector.png" />
        <p class="about-name">Héctor Echevarría Irazabal</p>
        <p class="about-description">Market Research</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/iker.png" />
        <p class="about-name">Iker Saracho </p>
        <p class="about-description">Marketing</p>
    </div>
</div>
