@{
    ViewData["Title"] = "About";
}

<h2 class="page-title">Este es nuestro equipo</h2>

<div class="row">
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/daniel.png" />
        <p class="about-name"><a href="https://www.linkedin.com/in/danimincam/">Daniel Minguez Camacho</a></p>
        <p class="about-description">Text recognition</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/javier.png" />
        <p class="about-name"><a href="https://www.linkedin.com/in/javierdlrm">Javier de la Rua Martinez</a></p>
        <p class="about-description">Platform development</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/ruben.png" />
        <p class="about-name"><a href="https://www.linkedin.com/in/rub%C3%A9n-cano-p%C3%A9rez-b5a60088/">Ruben Cano</a></p>
        <p class="about-description">Business Model</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/yaiza.png" />
        <p class="about-name"><a href="https://www.linkedin.com/in/yaiza-alzola-dom%C3%ADnguez-487639170/">Yaiza Alzola Domínguez</a></p>
        <p class="about-description">Branding</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/hector.png" />
        <p class="about-name"><a href="https://www.linkedin.com/in/h%C3%A9ctor-echevarr%C3%ADa-irazabal-374918157/">Héctor Echevarría Irazabal</a></p>
        <p class="about-description">Market Research</p>
    </div>
    <div class="col-md-6 about-section">
        <img class="about-image" src="~/images/iker.png" />
        <p class="about-name"><a href="https://www.linkedin.com/in/iker-saracho/">Iker Saracho</a></p>
        <p class="about-description">Marketing</p>
    </div>
</div>
