@model Conditio.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12" style="font-size: 16px">
        <h2 class="home-title">Conditio</h2>
        <p>
            Transparencia jurídica para tus compras por internet
        </p>
		<p>
            <b>¡Aprovecha nuestra oferta de lanzamiento con dos meses premium gratuitos!</b>
			<ul>
			  <li>Conoce si tus términos y condiciones están establecidos de acuerdo a la legislación aplicable</li>
			  <li>Compara términos y condiciones de tus principales paginas web para decidir cual se adapta a tus necesidades</li>
			  <li>Recibe notificaciones de vencimiento de garantías y suscripciones</li>
			  <li>Asocia conditio a tu cuenta bancaria para registrar automáticamente las compras que te interesen</li>
			</ul>
        </p>

    </div>
    <div class="col-md-12">
        <form asp-controller="Home" asp-action="InsertUrl" method="post" class="analyse-form">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="analyse-title">Elige cualquier plataforma</h5>
                </div>
                <div class="col-md-6">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="form-group">
                @Html.TextBox("Url", "", new { @class = "form-control analyse-input", @placeholder = "Url" })
                <button type="submit" class="btn btn-primary analyse-button">Analizar</button>
            </div>
        </form>
    </div>
</div>
