@model Conditio.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2 class="home-title">Conditio</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis enim vel leo iaculis hendrerit. Curabitur est urna, mollis vitae ex semper, tincidunt fringilla risus. Aliquam sem purus, cursus accumsan eros eget, cursus sollicitudin ante. Vivamus laoreet nisi eget commodo finibus. Praesent elit nisi, rutrum ac nisl non, dictum interdum felis. Duis ut tincidunt dui. Vivamus consequat eget leo eget gravida. Fusce id feugiat diam.
            Quisque nec quam ut ipsum gravida viverra. Proin gravida massa ac mollis tempus. Nullam sed quam sit amet ante vehicula faucibus. Curabitur ultricies fringilla fermentum. Praesent ac aliquam mauris, nec laoreet tortor. Aenean volutpat, velit eu sagittis tempus, ligula ante bibendum risus, a interdum nibh magna at mi. Vestibulum at sagittis nisl. Aenean tincidunt sed dolor congue luctus. Aliquam egestas velit vitae odio rhoncus, et tristique arcu scelerisque. Maecenas eu rhoncus velit, non hendrerit arcu. Nullam velit velit, ullamcorper sed sapien vitae, consequat placerat sapien. Aenean ultrices ligula vitae ante porttitor elementum. Nullam libero orci, molestie non arcu eu, laoreet pharetra sapien. Mauris facilisis nisl vitae felis ultrices, et tincidunt ligula ultrices. Etiam laoreet a odio nec mattis.
            Praesent sed venenatis libero, in consectetur enim. Nunc vel fermentum lorem. Nullam sem arcu, lobortis nec ex ultricies, porta vestibulum nunc. Phasellus dignissim metus mauris, ac porta felis lobortis quis. Donec ut ex id felis semper tincidunt. Duis interdum, sem a eleifend dapibus, nunc nulla porttitor augue, nec viverra leo massa ut mi. Sed semper erat in quam malesuada iaculis. Duis id euismod leo. Praesent vel blandit odio. Donec ultricies ante sit amet porta vulputate. Cras vel lacinia eros. Sed ac orci sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras vitae nisl ultrices leo pharetra mollis.
        </p>
    </div>
    <div class="col-md-12">
        <form asp-controller="Home" asp-action="InsertUrl" method="post" class="analyse-form">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="analyse-title">Elige cualquier plataforma</h5>
                </div>
                <div class="col-md-6">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="form-group">
                @Html.TextBox("Url", "", new { @class = "form-control analyse-input", @placeholder = "Url" })
                <button type="submit" class="btn btn-primary analyse-button">Analizar</button>
            </div>
        </form>
    </div>
</div>
